/* to-em-tests.scss */
@import "../functions";
$base-size: 10px;


test-strip-units {
  remove-from-em: to-equal(strip-units(1em), 1);
}

test-to-px {
  basic-conversion: to-equal(to-px(1em), 10px);
}

test-to-em {
  basic-conversion: to-equal(to-em(10px), 1em);
  convert-with-em-context: to-equal(to-em(10px, 2em), .5em);
  convert-with-em-context-messy: to-almost-equal(to-em(14px, 3em), .46667em);
  convert-with-px-context: to-equal(to-em(10px, 20px), .5em);
}
